<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div style="text-align: center">
        <div class="container">
    <img src= "https://raw.githubusercontent.com/jorgeerrz/jorgeerrz.github.io/main/profile_pic-modified.png
" height = "200"/>
    </div>
    </div>
      <h1 style="font-size: 26pt">

        <a href="{{ "/" | relative_url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead" style = "font-size: 16pt">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
            <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ '/' | relative_url }}">news</a>
      <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a> -->

      <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
    </nav>
    <div style="text-align: center">
    <div class="container">
    <a href="http://github.com/jorgeerrz"><img align="middle" src="{{ '/' | relative_url }}github-logo.png" height="30" /> </a>
  </div>
  <div class="container">
    <a href="http://twitter.com/joramirezruiz"><img align="middle" src="{{ '/' | relative_url }}twitter_logo.png" height="30"  /></a>
  </div>
  </div>
     <p style="font-size: 12pt; text-align: center">  {{ site.time | date: '%Y' }}. Made with <a href="https://github.com/poole/hyde"> Hyde. </a></p>
  </div>
</div>
